.twitter-feeds-light {
  background: rgba(255, 255, 255, 0.85);
  padding: 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.twitter-feeds-dark {
  padding: 20px 30px;
}
.twitter-feeds-dark-wrap {
  border-radius: 3%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.twitter-feeds-block,
.twitter-follow-button-block {
  display: inline-block;
}
