{#
/**
* @file
* Default theme implementation for a twitter feeds formatter.
*
* Available variables:
* - twitter_feeds_data: Array of back to top config data.
*   - twitter_username
*   - widget_id
*   - tweet_limit
*   - tweets_board_width
*   - feeds_layout
*   - placeholder_text
*
* @ingroup themeable
*/
#}
{% set  layout = twitter_feeds_data.feeds_layout %}
{% if layout == 'transparent' %}
	{% set  class = 'twitter-feeds-transparent' %}
	{% set  chrome = 'nofooter transparent noborders' %}
	{% elseif layout == 'light' %}
	{% set  class = 'twitter-feeds-light' %}
	{% elseif layout == 'dark' %}
	{% set  chrome = 'transparent' %}
	{% set  class = 'twitter-feeds-dark-wrap' %}
	{% set  chrome = 'nofooter' %}
	{% set  theme = 'dark' %}
{% else %}
	{% set  class = '' %}
	{% set  chrome = '' %}
	{% set  theme = '' %}
{% endif %}
<div class="{{ class }}">
<a class="twitter-timeline" href="https://twitter.com/{{ twitter_feeds_data.twitter_username }}" width="{{ twitter_feeds_data.tweets_board_width }}" data-widget-id="{{ twitter_feeds_data.widget_id }}"
data-chrome="{{ chrome }}"
{% if theme is defined %}
	data-theme="dark"
{% endif %}
data-tweet-limit="{{ twitter_feeds_data.tweet_limit }}">
{% if twitter_feeds_data.placeholder_text != '' %}
	{{ twitter_feeds_data.placeholder_text }}
{% endif %}
</a>
</div>
