{#
/**
 * @file
 * Default theme implementation for a twitter follow button formatter.
 *
 * Available variables:
 * - twitter_follow_button_data: Array of back to top config data.
 * 	 - twitter_username
 * 	 - show_followers_count
 *
 * @ingroup themeable
 */
 #}

 {% if twitter_follow_button_data.twitter_username !=  '' %}
 	<a href="https://twitter.com/{{ twitter_follow_button_data.twitter_username }}?ref_src=twsrc%5Etfw" class="twitter-follow-button" {% if twitter_follow_button_data.show_followers_count == 'true' %}data-show-count="true" {% else %} data-show-count="false"{% endif %}>Follow @{{ twitter_follow_button_data.twitter_username }}</a>
 {% endif %}
